body {
    background-color: black;
}

.container {
    height: 95vh;
    width: 95vw;
    background-image: url("./bg2.png");
    background-repeat: no-repeat;
    background-size: 60vw 50vw;
    background-color: black;
    background-position: center;
    filter: grayscale(100%);
}

.upload {
    position: absolute;
    width: 300px;
    height: 300px;
    top: calc(50% - 100px);
    background-color: aquamarine;
    filter: grayscale(90%);

    display: flex;
    flex-direction: column;
    flex-flow: column;
    justify-content: space-evenly;
    justify-items: center;
    flex-wrap: wrap;
}

#canvas { 
    position: absolute;
    top:18%;
    left:33%;
    border: 10px dotted seagreen ;
}

/* #keypad {
    position: absolute;
    width: 120px;
    height: 120px;
    top:67%;
    left:57%;
    visibility: hidden;
} */

#image {
    align-self: center;
}